.hero
  padding: 30px 0 30px 0
  background: rgb(0,0,0)
  background: linear-gradient(130deg, rgba(0,0,0,1) 27%, rgba(56,56,56,1) 28%, rgba(18,18,18,1) 75%, rgba(94,89,89,1) 76%)
  height: 100%

  &__wrapper
    display: flex
    align-items: center

  &__wrapper-video
    width: 50%

  &__video
    width: 100%

  &__info
    width: 50%

  &__primary-stat
    font-size: 24px
    font-weight: 500
    text-transform: uppercase
    margin-left: 10px
    letter-spacing: 2px

  &__primary-stat-wrapper
    display: flex
    align-items: center

  &__primary-srat-icon
    width: 6%

  &__name
    font-size: 60px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 2px

  &__short-description
    font-size: 18px
    color: $c-blizzard-blue
    font-weight: 500
    font-family: Montserrat
    line-height: normal
    text-transform: uppercase
    margin-bottom: 25px
    letter-spacing: 2px    

  &__text
    font-weight: 500
    font-family: Montserrat
    line-height: normal
    font-size: 24px
    color: $c-alto

  &__wrapper-lore
    margin-top: 45px

  &__lore-title
    font-size: 30px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    letter-spacing: 2px
    margin-bottom: 20px 

  &__lore
    font-size: 18px
    font-family: Montserrat
    line-height: 160%
    font-weight: 700
    color: $c-alto
    text-align: center

  &__attack-title
    font-size: 17px
    letter-spacing: 2px
    font-family: Montserrat
    font-weight: 500
    line-height: normal
    text-transform: uppercase
    color: $c-blizzard-blue
    margin-top: 30px

  &__attack-wrapper
    display: flex
    align-items: center
    margin-top: 8px

  &__attack-img
    width: 24px
    height: 24px
    margin-right: 8px

  &__attack-type
    font-size: 15px
    letter-spacing: 2px
    font-family: Montserrat
    font-weight: 500
    line-height: normal
    text-transform: uppercase
    color: $c-white

  &__complexity-wrapper
    display: flex
    justify-content: center
    gap: 25px
    margin-top: 10px
    width: 23%

  &__complexity-title
    font-size: 17px
    letter-spacing: 2px
    font-family: Montserrat
    font-weight: 500
    line-height: normal
    text-transform: uppercase
    color: $c-blizzard-blue
    margin-top: 30px

  &__complexity
    width: 15px
    height: 15px
    border: 1px solid $c-white
    transform: rotateZ(45deg)

  &__all-attributes
    background: linear-gradient(80deg, $c-shark 0%, $c-woodsmoke 100%)
    margin-top: 30px
    border-top: 2px solid $c-mine-shaft
    border-bottom: 2px solid $c-outer-space

  &__all-attributes-wrapper
    padding: 20px 0
    display: flex
    align-items: center
    max-width: 1200px
    margin: 0 auto
    
.paragraph
  color: $c-white
  font-family: Montserrat
  line-height: normal

.complexity
  background-color: $c-white
