.search
  display: flex
  align-items: center
  padding: 8px 9px
  background-color: $c-shark
  width: max-content
  width: 250px
  height: 50px
  border: 2px solid $c-white

  &__img
    margin: 0 10px 0 10px

  &__input
    flex-grow: 1
    background-color: $c-shark
    color: $c-white
    font-family: Montserrat
    font-size: 15px
    font-weight: 500
    line-height: normal
    height: 30px

    &::placeholder
      color: $c-white
      font-family: Montserrat
      font-size: 15px
      font-weight: 500
      line-height: normal
